body {
    background: green;
}

.carta{
    margin: 20px auto;
    height: 600px;
    width: 400px;
    background: white;
    border-radius: 20px;
}

.carta div{
    height: 33%;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#top, #bottom {
    padding: 10px 0 0 20px;
    font-size: 120px;
}

div[id^="center"] {
    text-align: center;
    vertical-align:middle;
    padding: 30px;
    font-size: 140px;
}

#bottom{
    transform: rotate(180deg);
}