body {
    background: green;
}

.carta{
    margin: 20px auto;
    height: 450px;
    width: 300px;
    background: white;
    border-radius: 20px;
}

.carta div{
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

#top, #bottom {
    height: 30%;
    padding-left: 14px;
    font-size: 6em;
}

div[id^="center"] {
    height: 40%;
    text-align: center;
    font-size: 8em;
}

#bottom{
    transform: rotate(180deg);
}